<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="00088116">

    <title>Error</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary static-top">
    <a class="navbar-brand mr-1" href="/">Laform</a>
</nav>
<div id="wrapper">
    <div id="content-wrapper text-center">
        <h1>Ingreso invalido 🤢🤮🤮</h1>
        <a href="/" class="btn btn-primary">Regresar</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger" th:each="error: ${errors}">
                    <p th:text="${error}"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>