<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="00088116">

    <title>Laform</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body id="top">

<nav class="navbar navbar-expand navbar-dark bg-primary static-top">
    <a class="navbar-brand mr-1" href="index.html">Laform</a>
</nav>

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid text-center">
            <h1 class="mt-4">Ingreso de nuevo alumno</h1>
        </div>
        <div class="s12 m10 l8">
            <form action="/ingresar" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <p th:text="${hora}"></p>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Black Fang - 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<a class="scroll-to-top rounded" href="#top">^</a>

</body>
</html>